.feedback-portlet{
  font-size:18px;.
  font-family: "arial", "helvetica", "sans serif"; 
  margin: 10px;
}

.feedback-portlet .my-voice-container{
    display:table;
    background-color:#eee;
    width: 100%;
    height:140px;
    margin-top:15px;
    margin-bottom:15px;
}
.feedback-portlet .my-voice-container span{
    vertical-align: middle;
    display:table-cell;
}
.feedback-portlet .my-voice-container span img{
    vertical-align:middle;
    display:table-cell;
    margin-left:15px;
    margin-right:15px;
}

.feedback-portlet .info-area,
.feedback-portlet .general-help a{
    background-color:#eee;
}

.feedback-portlet .btn-share-ideas {
  font-weight:100;
  font-size:1.4em;
  background-color:#b70101;
  padding:8px 30px;
  margin:10px 0px;
  color:#fff !important;
  border-radius:4px;
  border:0px solid transparent;
  box-shadow:0px 5px 0px #600;
  cursor:pointer;
  transition:0.1s ease-in-out;
  position:relative;
  
}
.feedback-portlet .btn-share-ideas:hover {
  transform: translateY(2px);
  background-color:#900;
  text-decoration:none;
  box-shadow:0px 3px 0px #000;
  transition:0.1s ease-in-out;
}

.feedback-portlet .general-help {
  padding:20px;
  color:#b70101;
}
.feedback-portlet .general-help a {
  padding:12px;
  margin-bottom:10px;
  border-radius:4px;
  display:block;
}
.feedback-portlet .general-help a:hover {
  text-decoration:none;
  background-color:#ddd;
}
.feedback-portlet .general-help i {
  font-size:1.3em;
  margin:0px 20px 0px 10px;
}

.feedback-portlet .general-thanks {
  border-right:1px solid #b70101;
  padding:0px 20px;
  margin-top:20px;
}
.feedback-portlet .general-thanks div{
  height:214px; 
  display:table; 
  text-align:center; 
  width:100%
}
.feedback-portlet .general-thanks div p{
  display:table-cell;
  vertical-align:middle;
}

.feedback-portlet h2 {
  margin:0px 0px 10px;
  font-size: 1.8em !important;
  color:#b70101;
}

.feedback-portlet .general-feedback {
  border-right:1px solid #b70101;
  padding:0px 20px;
  margin-top:20px;
}

@media (max-width:768px) {
  .feedback-portlet .btn-share-ideas {
    padding:6px 12px;
  }
}
